In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('airfoil_self_noise.dat', sep='\t')

In [6]:
df.head()

    800    0  0.3048  71.3  0.00266337  126.201
0  1000  0.0  0.3048  71.3    0.002663  125.201
1  1250  0.0  0.3048  71.3    0.002663  125.951
2  1600  0.0  0.3048  71.3    0.002663  127.591
3  2000  0.0  0.3048  71.3    0.002663  127.461
4  2500  0.0  0.3048  71.3    0.002663  125.571